
.div-31 {
  display: flex;
  margin-top: 21px;
  flex-direction: column;
  padding: 0 21px;
}
@media (max-width: 991px) {
  .div-31 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.div-32 {
  color: #000;
  font: 400 18px IBM Plex Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-32 {
    max-width: 100%;
  }
}
.div-33 {
  display: flex;
  margin-top: 17px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-33 {
    max-width: 100%;
  }
}

.div-35 {
  color: #5c5c5c;
  margin-top: 20px;
  font: 400 19px/134% IBM Plex Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-35 {
    max-width: 100%;
  }
}
.div-36 {
  display: flex;
  margin-top: 33px;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-36 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-37 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.img-9 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 48px;
  overflow: hidden;
  max-width: 100%;
}
.div-38 {
  color: #000;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 18px IBM Plex Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    white-space: initial;
  }
}
.div-39 {
  align-self: center;
  display: flex;
  gap: 10px;
  margin: auto 0;
}
.img-10 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 18px;
  overflow: hidden;
  max-width: 100%;
}
.div-40 {
  color: #525252;
  text-align: right;
  align-self: center;
  margin: auto 0;
  font: 500 14px IBM Plex Sans, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.img-11 {
  aspect-ratio: 1.17;
  object-fit: contain;
  object-position: center;
  width: 42px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}









